#app {
  text-align: center;
}
.bodyContainer {
  margin: 50px auto;
  width: 1024px;
}
img {
  width: 200px;
  height: 200px;
}
.menu {
  background-color: lightgrey;
  margin: 0 auto;
  padding: 30px 0px;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-around;
}
.menu a {
  color: #108EE9;
  text-decoration: none;
}
.container {
  text-align: left;
}
